.PostBlock{
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.PostBlock img{
  height: 200px;
  width: 300px;
}